.md-drawer {
  .md-toolbar {
    height: 110px;
    background: url("../../images/mosaic.jpg");
  }
}

.nav-image {
  background: rgba(0, 0, 0, 0.54);
  width: 100%;

  .md-text {
    color: white;
    font-weight: 600;
  }

  .md-text--secondary {
    color: white;
    font-weight: 400;
  }
}
